@model IEnumerable<CO567WBL_Ticket_App.Models.EventDetails>

@{
    ViewData["Title"] = "Upcoming Events/Shows";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-controller="Admin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Event Description
            </th>
            <th>
                Date and Time
            </th>
            <th>
                Poster
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                <img src="@item.EventPicture" width="100" height="100" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="BookNow" asp-route-id="@item.Id">Book Your Tickets</a>
            </td>
        </tr>
}
    </tbody>
</table>
