@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<CO567WBL_Ticket_App.Models.BookingTable>

@{
    ViewData["Title"] = "Your Bookings";
}

<h1>@ViewData["Title"]</h1>

@if (SignInManager.IsSignedIn(User))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Seat Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Event ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if(item.User_Id == UserManager.GetUserId(User))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seat_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => User.Identity.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateToPresent)
                        </td>
                        <td>
                            £@Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDetailsId)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <a>Sorry, you need to be signed into an account to do this.</a>
    <br /><br />
    <div>
        You can <a href="/Identity/Account/Login">Login</a> here.
        Or <a href="/Identity/Account/Register">Register</a> if you haven't created an account yet.
    </div>
}