@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<CO567WBL_Ticket_App.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>@ViewData["Title"]</h1>
<form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Seat Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Event ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat_No)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @Html.DisplayFor(modelItem => User.Identity.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => "Guest")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventId)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Cart">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <input type="submit" value="Proceed to Checkout" asp-action="Proceed" asp-controller="Cart" />
    </div>
</form>